*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.menu{
  position: absolute;
  top:0;
  bottom:0;
  background-color: #fff;
  width: 200px;
  transition: all 0.75s ease-out;
}
.menu h3{
  text-align: center;
  color:#fff;
  padding: 20px;
  font-size: 28px;
  width: 100%;
  background-color: #00bcd4;
}
.cover{
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.example-enter {
  opacity: 0.01;
}
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}
.example-leave {
  opacity: 1;
}
.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 3000ms ease-in;
}
